/* Algemene styling */
body {
  font-family: Arial, sans-serif;
  margin: 1;
  padding: 1;
  background-color: #faf9f8;
}

.storelogin {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
  grid-template-rows: 1fr [form] 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.form--login {
  background-color: #ebebeb;
  padding: 1em;
  color: black;
  grid-column: form;
  grid-row: form;
  border-radius: 10px;
}

.form__error {
  background-color: #73aee2;
  font-weight: lighter;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.form__field {
  padding-bottom: 1em;
}

.form__field label {
  display: block;
  margin-bottom: 0.2em;
}

.form__field .label__inline {
  display: inline-block;
}

.form__field input[type=text], 
.form__field input[type=password], 
.form__field input[type=email] {
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
  box-sizing: border-box; /* Zorgt ervoor dat padding niet de breedte beïnvloedt */
  border-radius: 5px;
  border: none;
}

.btn {
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
  box-sizing: border-box; /* Zorgt ervoor dat padding niet de breedte beïnvloedt */
  border-radius: 5px;
  margin: 0.5em auto;
  text-align: center;
  display: inline-block; /* Zorg ervoor dat de knop inline-block is voor consistentie */
}

.btn--primary {
  background-color: #73aee2;
  color: white;
  border: none;
  padding: 0.3em 2em;
}

/* Specifieke stijl voor login en signup links */
.btn--secondary {
  color: blue;
  border: none;
  font-size: 1em;
  display: inline-block;
  width: auto; /* Zorgt ervoor dat de breedte van de link automatisch is */
}

.form__field--inline {
  display: flex;
  gap: 1em; /* Ruimte tussen de velden */
}

.form__inline-item {
  flex: 1; /* Zorgt ervoor dat de items evenveel ruimte innemen */
  display: flex;
  flex-direction: column;
}

.form__field select {
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.navbar a:hover {
  color: #73aee2;
}

.navbar form {
  display: flex;
  align-items: center;
  border: none;
}

.navbar input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navbar button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #848484;
  color: white;
}

/* Categorieën */
.categories {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.categories a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.categories a:hover {
  color: #73aee2;
}

/* Artikel page */

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* vier gelijke kolommen */
  gap: 16px; /* ruimte tussen de artikelen */
  margin: 16px; /* marge rondom de grid */
}

article {
  padding: 16px;
  text-align: center; /* centreert de tekst in de artikelen */
}

img {
  max-width: 100%; /* Zorg ervoor dat de afbeelding responsief is */
  height: auto;
}

.product {
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product_name {
  font-size: 22px;
  margin: 10px 0;
}

.btn_cart {
  background-color: #73aee2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3em 2em;
  margin-top: 10px;
}

.product:hover {
  border: 3px solid #ccc;
}

/* Productdetails container */
.product-details {
  max-width: 120em;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Productinformatie: afbeelding en details naast elkaar */
.product-details_container {
  display: flex;
  gap: 20px;
}

.product-details_container img {
  max-width: 550px;
  border-radius: 8px;
}

.product-details__info {
  flex: 1;
}

.product-details__info h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.product-details__price {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #73aee2;
  font-weight: bold;
}

.product-details_container label {
  font-size: 1.2rem;
  margin-bottom: 5px;

}

.product-details_container input[type="number"] {
  padding: 8px;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.product-details_container select {
  padding: 8px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.product-details__info button {
  padding: 10px 10px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 10px;
}


.product-details__info p {
  font-size: 1rem;
  margin: 8px 0;
}

.product-details__description {
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #555;
}

/* Reviews container */
#review-form {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

#review-form h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#review-form input,
#review-form select {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

#review-form a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 10px;
}

#review-form a:hover {
  background-color: #555;
}

/* Lijst van reviews */
.reviewslist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.reviewslist li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.reviewslist li strong {
  font-size: 1rem;
  display: block;
  margin-bottom: 5px;
}

.reviewslist li p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #333;
}

/* Admin page */

.product-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.5em;
  margin: 0;
}

.product-description,
.product-price,
.product-stock {
  margin: 5px 0;
}
