/* Algemene styling */
body {
  font-family: Arial, sans-serif;
  margin: 1;
  padding: 1;
  background-color: #faf9f8;
}

.storelogin {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
  grid-template-rows: 1fr [form] 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.form--login {
  background-color: beige;
  padding: 1em;
  color: black;
  grid-column: form;
  grid-row: form;
}

.form__error {
  background-color: #6972b6;
  font-weight: lighter;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.form__field {
  padding-bottom: 1em;
}

.form__field label {
  display: block;
  margin-bottom: 0.2em;
}

.form__field .label__inline {
  display: inline-block;
}

.form__field input[type=text], 
.form__field input[type=password], 
.form__field input[type=email] {
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
  box-sizing: border-box; /* Zorgt ervoor dat padding niet de breedte beïnvloedt */
}

.btn {
  width: 100%;
  padding: 0.3em;
  font-size: 1.4em;
  box-sizing: border-box; /* Zorgt ervoor dat padding niet de breedte beïnvloedt */
  margin: 0.5em auto;
  text-align: center;
  display: inline-block; /* Zorg ervoor dat de knop inline-block is voor consistentie */
}

.btn--primary {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.3em 2em;
}

/* Specifieke stijl voor login en signup links */
.btn--secondary {
  color: blue;
  border: none;
  font-size: 1em;
  display: inline-block;
  width: auto; /* Zorgt ervoor dat de breedte van de link automatisch is */
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  color: #007bff;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.categories a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}

.categories a:hover {
  text-decoration: underline;
}

/* Artikel page */

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* vier gelijke kolommen */
  gap: 16px; /* ruimte tussen de artikelen */
  margin: 16px; /* marge rondom de grid */
}

article {
  padding: 16px;
  text-align: center; /* centreert de tekst in de artikelen */
}

img {
  max-width: 100%; /* Zorg ervoor dat de afbeelding responsief is */
  height: auto;
}

.categories a {
  margin-right: 10px;
  color: black;
}

.product {
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product:hover {
  border: 3px solid #ccc;
}

/* product page */
.product-details {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details__img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.product-details__info {
  padding: 20px;
  margin-top: 8em;
  width: 50%;
}

.product-details__info h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.product-details__price {
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
}

.product-details__description {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

/* Admin page */

.product-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.5em;
  margin: 0;
}

.product-description,
.product-price,
.product-stock {
  margin: 5px 0;
}
